set timeout=4
set default=0
# aqui cargamos modulos que puede que se ocupen con el multiboot que usa el kernel
insmod all_video
insmod gfxterm
insmod png
insmod font

# configurar todo lo que queremos para la pantalla
set gfxmode=800x600x32
terminal_output gfxterm

menuentry "deva" {
    multiboot /boot/kernel.bin # aqui es el binario del kernel
    boot
}
